{% if product.metafields.product.Specification != blank %}
  <h5>{{ product.metafields.product.Specification }}</h5>
{% endif %}
<h1 class="product__title" {{ block.shopify_attributes }}>
  {{ product.title | escape }}
</h1>
{% if product.metafields.product.Odometer != blank %}
  <h5>{{ product.metafields.product.Odometer }}</h5>
{% endif %}
<div class="penta-product-icon-features">
  {% if product.metafields.product.EngineSize != blank %}
    <h5>{{ product.metafields.product.EngineSize }}</h5>
  {% endif %}
  {% if product.metafields.product.FuelType != blank %}
    <h5>{{ product.metafields.product.FuelType }}</h5>
  {% endif %}
  {% if product.metafields.product.Doors != blank %}
    <h5>{{ product.metafields.product.Doors }}</h5>
  {% endif %}
  {% if product.metafields.product.Transmission != blank %}
    <h5>{{ product.metafields.product.Transmission }}</h5>
  {% endif %}
</div>
<div class="penta-product-location">
  {% if product.metafields.product.Location != blank %}
    <h5>{{ product.metafields.product.Location }}</h5>
  {% endif %}
  {% if product.metafields.product.DealerContactNumber != blank %}
    <h5>{{ product.metafields.product.DealerContactNumber }}</h5>
  {% endif %}
</div>
<div class="penta-checkout">
  <div class="penta-checkout-price">
    {%- render 'price', product: product, use_variant: true, show_badges: true, price_class: 'price--large' -%}
  </div>
  <div class="penta-checkout-buttons">
    <button data-modal="enquiry-modal">Enquire Now</button>
    <button data-modal="test-drive-modal">Book a Test Drive</button>
  </div>
</div>