<h2>Overview</h2>
<table class="penta-product-metafields-table penta-table">
  {% if product.metafields.product.Make != blank %}
    <tr><th>Make</th><td>{{ product.metafields.product.Make }}</td></tr>
  {% endif %}
  {% if product.metafields.product.Model != blank %}
    <tr><th>Model</th><td>{{ product.metafields.product.Model }}</td></tr>
  {% endif %}
  {% if product.metafields.product.Year != blank %}
    <tr><th>Year</th><td>{{ product.metafields.product.Year }}</td></tr>
  {% endif %}
  {% if product.metafields.product.Odometer != blank %}
    <tr><th>Mileage</th><td>{{ product.metafields.product.Odometer }}</td></tr>
  {% endif %}
  {% if product.metafields.product.EngineSize != blank %}
    <tr><th>Engine Size</th><td>{{ product.metafields.product.EngineSize }}</td></tr>
  {% endif %}
  {% if product.metafields.product.FuelType != blank %}
    <tr><th>Fuel Type</th><td>{{ product.metafields.product.FuelType }}</td></tr>
  {% endif %}
  {% if product.metafields.product.Transmission != blank %}
    <tr><th>Gearbox</th><td>{{ product.metafields.product.Transmission }}</td></tr>
  {% endif %}
  {% if product.metafields.product.RegistrationNumber != blank %}
    <tr><th>Registration</th><td>{{ product.metafields.product.RegistrationNumber }}</td></tr>
  {% endif %}
  {% if product.metafields.product.RegistrationDate != blank %}
    <tr><th>Registered</th><td>{{ product.metafields.product.RegistrationDate | date: "%Y"  }} </td></tr>
  {% endif %}
  {% if product.metafields.product.Colour != blank %}
    <tr><th>Colour</th><td>{{ product.metafields.product.Colour }}</td></tr>
  {% endif %}
  {% if product.metafields.product.Interior != blank %}
    <tr><th>Interior</th><td>{{ product.metafields.product.Interior }}</td></tr>
  {% endif %}
  {% if product.metafields.product.VehicleType != blank %}
    <tr><th>Vehicle Type</th><td>{{ product.metafields.product.VehicleType }}</td></tr>
  {% endif %}
  {% if product.metafields.product.HasServiceHistory != blank %}
    <tr><th>Has Service History</th><td>{{ product.metafields.product.HasServiceHistory }}</td></tr>
  {% endif %}
</table>